body {
  background-color: #72beff;
}

strong {
  color: #ff7676;
  font-family: Inter, sans-serif;
}

.text {
  text-shadow: 3px 3px #5f9fd6;
  color: white;
  font-family: "Playfair Display", serif;
}

.numbers {
  color: #1c7ed1;
}

.quote1 {
  color: #fff;
  font-family: "Playfair Display", serif;
}

.quote2 {
  color: #fff;
  font-family: "Playfair Display", serif;
}

.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}

.container2 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media only screen and (min-width: 25em) {

  .container {
    text-align: center;
  }

}

@media only screen and (min-width: 38em) {

  .container {
  }

}

@media only screen and (min-width: 60em) {

  .container {
  }

}

@media only screen and (min-width: 90em) {

  .container {
  }

}
